$Light-green: #7ed56f;
$Medium-green: #55c57a;
$Dark-green: #28b485;
$Light-orange: #ffb900;
$Dark-orange: #ff7730;
$Light-blue: #2998ff;
$Dark-blue: #5643fa;
$gray: #777;
$white: #fff;
$black: #000;
$gray-light: #f7f7f7;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horixzontal: 6rem;

$default-font: 1.6rem;